<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @developer.password %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', apps_path %>
